#banner
  .banner_content
    %h1 Bee Cabinet
    %p Work filing made easy!
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p This is a productivity application for file organization and edditing.Things you may want to cover:Ruby version: 2.3.1p112 (2016-04-26 revision 54768) [x86_64-linux] System dependencies Configuration Database creation Database initialization How to run the test suite Services (job queues, cache servers, search engines, etc.)Deployment instructions.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path